@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        z-index: 1000;
        max-height: 20rem;
    }
    .menu-links {
        z-index: 800;
    }
    .topbar {
        display: none;
    }

    #hero, .section-container {
        display: block;
    }

    .section__pic-container {
        width: 400px;
        height: auto;
        margin: 0 auto 2rem;
        display: flex;
        flex-direction: column;
    }

    .section__pic-container img {
        width: 450px;
        align-self: center;
    }

    .about-containers {
        margin-top: 0;
    }

    .logo {
        padding-bottom: 5.25rem;
        font-size: 4rem;
    }

    .info-containers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
    }

}


@media (max-width: 1039px) {
     .photo-row {
        flex-direction: column;
        align-items: center;
    }
    .photo-container {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }

    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
      width: 125px;
      height: 125px;
    }
}

@media (max-width: 990px) {
    .contact-form {
        max-width: 80%;
    }
}

@media (max-width: 740px) {
    #hamburger-nav .logo img {
        width: 500px;
    }
}

@media (max-width: 675px) {
    #hamburger-nav .logo img {
        width: 400px;
    }
}

@media screen and (max-width: 600px) {

    #hero {
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 1;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 4rem;
        padding-bottom: 5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: 400px;
        display: flex;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 2rem;
    }
    .title {
        font-size: 3rem;
    }
    .text-container {
        text-align: justify;
    }
    .photo-container img {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .title-2 {
        font-size: 2rem;
    }

    .slider img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 529px) {
    .dropdown-content {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .dropdown-content li {
        min-width: 50%;
    }
}

@media (max-width: 524px) {
    .dropdown-content li a {
        font-size: 1.5rem;
    }
}


@media (max-width: 500px) {
.contact-form h2 {
    font-size: 3rem;
}
}


@media (max-width: 475px) {
    #hamburger-nav {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .menu-links {
        left: 10%;
    }

    .menu-links a {
        font-size: 2rem;
        padding: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .section__pic-container img {
        height: 300px;
        width: 300px;
    }

    .photo-container img {
        max-width: 300px;
    }

    .dropdown-btn {
        font-size: 2rem;
    }
}

@media (max-width: 430px) {
    .footer-logo img {
        height: 150px;
        width: auto;
    }

    .footer-links li a{
        font-size: 2rem;
    }
}

@media (max-width: 420px) {
    .dropdown-content li a {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    #hamburger-nav .logo img {
        width: 300px;
    }

    .social-container h1, .hours h1 {
        font-size: 2.5rem;
    }

    .contact-info h1 {
        font-size: 2.5rem;
    }

    .social-container .social i {
        font-size: 4rem;
    }

    .hours h3 {
        font-size: 1.9rem;
    }

    .hours p {
        font-size: 1.9rem;
    }

    .contact-heading {
        font-size: 1.9rem;
    }

    .contact-item {
        font-size: 1.9rem;
    }

    .info-containers {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        margin-left: -1.9rem;
    }

    .hours {
        justify-content: center;
        align-items: center;
    }

    .success h2 {
        font-size: 2.5rem;
    }

    .success p {
        font-size: 1.9rem;
    }
}


@media (max-width: 375px) {
    .about-p h1 {
        font-size: 2.25rem;
    }

    .about-p p {
        font-size: 1.6rem;
    }

    .reviews h1 {
        font-size: 2.25rem;
    }
}
