/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, img, data, span, input, button, select, ion-icon, textarea {
    display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
    height: auto;
}

input, button, select, textarea {
  background: none;
  border: none;
  font: inherit;
}

input, select, textarea {
  width: 100%;
  outline: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(20, 9%, 53%);
  color: black;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.85em;
  overflow: hidden;
  height: 300vh;
}

body.loaded {
    overflow: overlay;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(20, 9%, 53%);
}


/* Preload */
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(20, 9%, 53%);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: 500ms ease;
}

.preload > * {
    transition: 250ms ease;
}

.preload.loaded > * {
    opacity: 0;
}

.preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid white;
    border-block-start-color: black;
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
  }

.preload .text {
    background-image: linear-gradient(90deg, transparent 0% 16.66%, black 33.33% 50%,  transparent 66.66% 75%);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    /* padding-inline-start: 16px; */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px black;
    animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }

/* Top Bar */
/* This displays none on phone */
.topbar {
    display: none;
}

/* @media (min-width: 575px) {
    .topbar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-block: 10px;
        border-block-end: 1px solid white;
        z-index: 4;
        transition: 250ms ease;
     }

    .topbar:has(~ .header.active) { transform: translateY(-100%); }

    /* .topbar-item:not(.link), */
    /* .topbar .separator { display: none; } */

    /* .topbar .container,
    .topbar-item {
        display: flex;
        align-items: center;
    }

    .topbar .container {
        justify-content: center;
    }

    .topbar-item { gap: 6px; }

    .topbar-item ion-icon { --ionicon-stroke-width: 60px; }

    .topbar-item .span { font-size: 1.4rem; }

    .topbar .link { transition: 250ms ease; }

    .topbar .link:is(:hover, :focus-visible) { color: hsl(20, 9%, 53%); }
} */ */
