@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, img, data, span, input, button, select, ion-icon, textarea {
    display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
    height: auto;
}

input, button, select, textarea {
  background: none;
  border: none;
  font: inherit;
}

input, select, textarea {
  width: 100%;
  outline: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(218, 218, 218);
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.85em;
  overflow: hidden;
  height: 300vh;
}

body.loaded {
    overflow: overlay;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(20, 9%, 26%);;
}


/* Preload */
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(20, 9%, 26%);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: 500ms ease;
}

.preload > * {
    transition: 250ms ease;
}

.preload.loaded > * {
    opacity: 0;
}

.preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid white;
    border-block-start-color: black;
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
  }

.preload .text {
    background-image: linear-gradient(90deg, transparent 0% 16.66%, black 33.33% 50%,  transparent 66.66% 75%);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    /* padding-inline-start: 16px; */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px black;
    animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }

/* Top Bar */
.topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    border-block-end: 1px solid black;
    z-index: 4;
    transition: 250ms ease;
    background-color: rgba(0, 0, 0, 0.501);
    color: white;
    z-index: 1000;
}

.topbar .top-container, .topbar-item {
    display: flex;
    align-items: center;
}

.topbar .top-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.topbar-item {
    gap: 6px;
    margin-bottom: 0px;
}
.topbar-item ion-icon {
    -ionicon-stroke-width: 60px;
}

.topbar-item .span {
    font-size: 1.75rem;
}

.topbar .link {
    transition: 250ms ease;
}


/* NAV BAR */

nav,
.nav-links {
    display: flex;
    flex-wrap: wrap;
}

nav {
    justify-content: space-around;
    align-items: center;
    min-height: 15rem;
    background-color: hsl(20, 9%, 26%);
}

.nav-links {
    gap: 3rem;
    list-style: none;
    font-size: 2rem;
    padding-top: 5rem;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-links a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(212, 212, 212);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-links a:hover::after {
    width: 100%;
}

.logo {
    height: 90%;
    color: white;
    padding-top: 5rem;
}

.logo img {
    max-height: 100%;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: hsl(20, 9%, 26%);
    opacity: 100%;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 1.25rem;
    justify-content: space-between;
    color: white;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 1500px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.menu-links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.menu-links a:hover {
    color: black;
}



/* HERO SECTION */

section {
    height: 75vh;
    margin: 0;
    box-sizing: border-box;
    min-height: fit-content;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 250ms ease;
    background-image: url(assets/herocanvas.png);
    background-size: cover;
    background-position: 0%;
    box-shadow: 0 0.5rem 1rem rgb(105, 105, 105);
    border-radius: 2rem;
    background-color: hsl(20, 9%, 26%);
    margin: 4rem;
}

.section__pic-container {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    margin-right: 20px;
}

.section__pic-container img {
    width: 600px;
    height: auto;
    align-self: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }


.section__text {
    text-align: center;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.523);
    padding: 2rem;
    border-radius: 2rem;
    animation: fadeIn 1.5s ease-in-out;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1  {
    text-align: center;
    color: hsl(20, 9%, 26%);
    font-size: 3rem;
    padding-bottom: 1rem;
}

.section__text__p2  {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: black;
    padding-bottom: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

.btn {
    font-weight: 400;
    transition: all 300ms ease;
    padding: 1rem;
    border-radius: 1rem;
}

.btn-color-1, .btn-color-2 {
    border: hsl(20, 9%, 26%) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: hsl(20, 9%, 26%);
    color: rgb(212, 212, 212)
}

.btn-color-2 {
    background: hsl(20, 9%, 26%);
    color: rgb(212, 212, 212);
}
.btn-color-2:hover {
    border: hsl(20, 9%, 26%) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

.fa-angles-down {
    position: absolute;
    right: 2rem;
    bottom: 2.5rem;
    color: black;
    font-size: 3rem;
    cursor: pointer;
}

/* SLIDESHOW SECTION */

#slideshow {
    padding: 4rem;
    filter: grayscale(25%);
}

.slider-wrapper {
    position: relative;
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    box-shadow: 0 0.5rem 1rem rgb(105, 105, 105);
    border-radius: 2rem;
    margin-bottom: 4rem;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Microsoft Edge */
}

.slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.slider img {
    max-width: 400px;
    max-height: 400px;
}

/* VIDEO */

#video {
    max-width: 100%;
    margin: 0;
    height: 1000px;
}

.intro-video {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    margin-bottom: 2rem;
}

.intro-video iframe {
    max-width: 100%;
}

/* MAP */

#map {
    max-width: 100%;
    margin: 0 4rem;
    height: 500px;
    align-items: center;
}

.map {
    display: flex;
    align-items: center;
    align-self: center;
    background: white;
    overflow: hidden;
    position: relative;
    height: 400px;
    filter: grayscale(75%);
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(105, 105, 105);
}

/* FOOTER */

footer {
    background-color: hsl(20, 9%, 26%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 505px;
    padding: 10px;
    margin-top: 6rem;
    position: absolute;
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.footer-logo img {
    height: 200px;
    width: auto;
}

.social {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}

.social i {
    font-size: 45px;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.social i:hover {
    transform: scale(1.5);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
    font-size: 2.5rem;
    padding: 4rem;
    margin: 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.footer-links a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(212, 212, 212);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.footer-links a:hover::after {
    width: 100%;
}

.copyright {
    padding-top: 2rem;
}

.copyright p {
    text-align: center;
    font-size: 1.75rem;
    color: white;
}


/* CONTACT PAGE */

#hero-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
    height: auto;
    width: auto;
    margin: 4rem;
}

.contact-img {
    position: relative;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
    justify-content: center;
}

/* #hero-contact h1 {
    margin-top: -50px;
    color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 2rem;
    font-size: 5rem;
} */

.contact-img img {
    width: 100%;
    height: 630px;
    border-radius: 2rem;
    object-fit: cover;
}

.info-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.social-container, .hours, .contact-info {
    flex: 1;
    margin: 1rem;
    align-content: center;
    text-align: center;
}

.social-container h1, .hours h1 {
    font-size: 3.5rem;
    color: black;
    padding: 4rem;
}

.contact-info h1 {
    padding: 2rem;
    font-size: 3.5rem;
    color: black;
}

.social-container .social i {
    color: rgb(60, 60, 60);
    padding-bottom: 4rem;
}


.hours h3 {
    font-size: 2.25rem;
    color: rgb(60, 60, 60);
    padding-bottom: 1rem;
}

.hours p {
    font-size: 2.25rem;
    padding-bottom: 3rem;
}

.contact-heading {
    font-size: 2.25rem;
    color: rgb(60, 60, 60);
    padding: 2rem;
}

.contact-item {
    font-size: 2.25rem;
    padding-bottom: 1rem;
}

.contact-item:hover {
    text-decoration: underline;
}

.contact-form {
    background-color: white;
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    margin-top: -150px;
    position: relative;
    z-index: 1;
}

.contact-form h2 {
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 0.5rem; /
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.contact-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

#photo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.photo-row {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.photo-container {
    flex: 1;
    border-radius: 2rem;
    margin: 4rem;
}

.photo-container img {
    width: 500px;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}


/* FIX THE RESPONSIVENESS OF THE PHOTO ROW - LOOKS BAD WHEN THE SCREEN SIZE IS REDUCED */
